
a {
    cursor: pointer;
    color: #0074D9;
    text-decoration: none;
}
a:hover {
    color: #0068c3;
    text-decoration: underline;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.4px;
}

body,
b,
strong,
.caption {
  line-height: 160%;
}

.display-1 {
    font-size: 26px;
    font-weight: 700;
}

@media (max-width: 640px) {
    .display-1 {
        font-size: 22px;
    }
}

#content {
    position: relative;
    overflow: hidden;
}

@media (max-width: 1024px) {
    #content {
        padding-bottom: 24px;
        padding-top: 24px;
    }

    body.page-menu #content {
        padding-bottom: 120px;
    }
}

@media (min-width: 1025px) {
    #content {
        left: auto;
        margin-left: 30%;
        padding-bottom: 24px;
        padding-top: 24px;
        width: 70%;
    }
}

@media (max-width: 640px) {
    #content {
        padding-bottom: 55px;
    }

    #content .box.submit-box {
        box-shadow: none;
        background: none;
        margin: -24px -16px 12px -16px;
    }

    #content .mobile-download,
    #content .udp-apple-app-download-zh,
    #content .udp-apple-app-download-en {
        animation: pop 0.1s ease-out;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);
        font-weight: 700;
        transition-property: background, border-color, color, transform;
        bottom: 71px;
        box-shadow: none;
        clear: right;
        float: right;
        position: fixed;
        right: 16px;
        z-index: 996;
    }

    #content .mobile-download:active,
    #content .udp-apple-app-download-zh:active,
    #content .udp-apple-app-download-en:active {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
        transform: translateY(2px);
    }

    #content .mobile-download.primary,
    #content .udp-apple-app-download-zh.primary,
    #content .udp-apple-app-download-en.primary {
        padding: 12px 24px;
    }

    #content .mobile-download.secondary,
    #content .udp-apple-app-download-zh.secondary,
    #content .udp-apple-app-download-en.secondary {
        background: #FFF;
        border-color: #FFF;
        color: inherit;
    }
}

@media only screen and (max-width: 640px) and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    #content .mobile-download,
    #content .udp-apple-app-download-zh,
    #content .udp-apple-app-download-en {
        bottom: 86px;
    }
}

#nav {
    background: #FFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    z-index: 1006;
}

#nav::after {
    clear: both;
    content: "";
    display: table;
}

@media (min-width: 1025px) {
    #nav {
        background: #FFF;
        bottom: 0;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
        left: 0;
        position: fixed;
        top: 0;
        width: 30%;
    }
}

@media (max-width: 1024px) {
    #nav {
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    }
}

#nav ul {
    display: inline-block;
    margin: 0;
    list-style: none;
}

#nav ul li {
    display: block;
    margin: 0;
    padding: 0;
}

#nav .logo {
    float: left;
    margin-right: 12px;
    width: 36px;
}

#nav .logo img {
    float: left;
    width: 36px;
}

#nav .icon {
    padding: 6px 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#nav .icon.trigger {
    height: auto;
}

#nav .icon.trigger {
    -webkit-box-sizing: box-sizing;
    box-sizing: box-sizing;
    margin: 0px;
}

#nav .container {
    overflow: hidden;
}

#nav .container .header {
    height: 48px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    padding: 24px;
    position: relative;
}

@media (max-width: 640px) {
    #nav .container .header {
        display: none;
    }
}

#nav .container .header::after {
    clear: both;
    content: "";
    display: table;
}

@media (min-width: 641px) and (max-width: 1024px) {
    #nav .container .header {
        padding: 16px;
    }
}

#nav .container .header .icon {
    border: 0;
    outline: none;
    float: right;
}

#nav .container .header .icon.trigger {
    background: none;
}

#nav .container .header .icon img {
    display: block;
    height: 24px;
    opacity: 0.8;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}

#nav .container .header .icon span {
    display: none;
}

#nav .container .header .icon:hover img {
    opacity: 1;
}

#nav .container .header .icon:active img {
    opacity: 0.6;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

#nav .container .primary {
    display: inline-block;
}

@media (min-width: 1025px) {
    #nav .container .primary {
        max-width: calc(100% - 72px);
        overflow: hidden;
    }
}

#nav .container .primary ul {
    display: inline-block;
    padding: 0;
    white-space: nowrap;
}

#nav .container .primary ul li {
    float: left;
    white-space: nowrap;
}

#nav .container .primary ul a {
    color: inherit;
    display: block;
    font-weight: 700;
    font-size: 11px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 5px 10px 5px;
    text-transform: uppercase;
}

#nav .container .secondary {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    min-height: 62px;
}

#nav .container .secondary .back {
    color: rgba(0, 0, 0, 0.56);
    display: inline-block;
    font-weight: bold;
    margin-bottom: 12px;
}

#nav .container .secondary .back img {
    float: left;
    margin-top: -1px;
    margin-right: -4px;
}

@media (max-width: 1024px) {
    #nav .container .secondary .back {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.05);
        display: inline-block;
        float: left;
        font-size: 0px;
        margin: 1px 8px 1px 0;
        padding: 3px;
        height: 28px;
        width: 28px;
    }

    #nav .container .secondary .back img {
        margin: 2px 0 2px 4px;
        width: 18px;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    #nav .container .secondary .back {
        margin: 4px 8px 4px 0;
    }
}

#nav .container .secondary .display-1 {
    margin-bottom: 12px;
}

@media (max-width: 640px) {
    #nav .container .secondary .display-1 {
        display: table;
    }
}

#nav .container .secondary .subcategories {
    width: 100%;
}

#nav .container .secondary .subcategories a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.56);
    padding: 6px 0;
}

#nav .container .secondary .subcategories a.active,
#nav .container .secondary .subcategories a:hover {
    color: inherit;
}

#nav .container .secondary .subcategories a.active {
    border-bottom: 3px solid #00A862;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 700;
    padding-bottom: 3px;
}

#nav .container .secondary .tabs-wrapper {
    display: block;
}

@media (min-width: 1025px) {
    #nav .container .secondary .tabs-wrapper {
        padding-left: 2px;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    #nav .container .secondary {
        padding: 0 16px 0 16px;
    }
}

@media (max-width: 640px) {
    #nav .container .secondary {
        padding: 16px 16px 0 16px;
    }
}

@media (max-width: 1024px) {
    #nav .container .secondary::after {
        clear: both;
        content: "";
        display: table;
    }

    #nav .container .secondary .tabs-wrapper {
        margin: -6px -16px 0;
        overflow: hidden;
        width: calc(100% + 32px);
    }

    #nav .container .secondary .tabs-wrapper::after {
        clear: both;
        content: "";
        display: table;
    }

    #nav .container .secondary .subcategories {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        -webkit-overflow-scrolling: touch;
        margin-bottom: -12px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0 0 12px 18px;
        white-space: nowrap;
        width: 100%;
    }

    #nav .container .secondary .subcategories::after {
        clear: both;
        content: "";
        display: table;
    }

    #nav .container .secondary .subcategories::-webkit-scrollbar {
        display: none;
    }

    #nav .container .secondary .subcategories li {
        display: inline-block;
    }

    #nav .container .secondary .subcategories li a {
        padding-top: 12px;
        margin-right: 18px;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    #nav .container .secondary .tabs-wrapper {
        margin: -6px -24px 0;
        width: calc(100% + 48px);
    }

    #nav .container .secondary .subcategories {
        padding: 0 0 12px 24px;
    }
}

@media (min-width: 1025px) {
    #nav .container .secondary {
        padding-left: 96px;
        padding-right: 24px;
    }

    #nav .container .secondary .category {
        margin-bottom: 18px;
    }

    #nav .container .secondary .subcategories a.active {
        margin-bottom: 2px;
        padding-bottom: 1px;
    }
}

@media (max-width: 640px) {
    #nav .overlay .body .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

#nav .overlay .body .container ul {
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 120%;
    width: 100%;
}

@media (max-width: 640px) {
    #nav .overlay .body .container ul {
        font-size: 22px;
        font-size: 2.2rem;
    }
}

@media (max-width: 640px) {
    #nav .overlay .body .container ul {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 120%;
    }
}

#nav .overlay .body .container ul a {
    color: inherit;
    display: block;
    padding: 8px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 640px) {
    #nav .overlay .body .container ul a {
        padding: 5px 0;
    }
}

#nav .overlay .body .container hr {
    margin-bottom: 12px;
    margin-top: 12px;
}

#nav .overlay .body .container hr::after {
    clear: both;
    content: "";
    display: table;
}

@media (min-width: 1025px) {
    #nav > .container {
        height: 100%;
        width: 100%;
    }

    #nav > .container > * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: table-row;
    }

    #nav > .container .body {
        height: calc(100% - 98px);
        display: table;
        width: 100%;
    }

    #nav > .container .body .container {
        display: table-cell;
        height: 100%;
        padding: 0 24px;
    }

    #nav > .container .body .container.middle {
        vertical-align: middle;
        padding: 0 24px 0 84px;
    }
}

#nav #react-store-locator-nav-overlay #overlay-locator-details .container .body .container {
    display: block;
}

#nav #react-store-locator-nav-overlay #overlay-locator-details span.hours span {
    margin-right: 0.3rem;
}

#nav .overlay > .container {
    display: table;
    height: 100%;
    width: 100%;
}

#nav .overlay > .container > * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-row;
}

#nav .overlay > .container .header {
    display: block;
    height: auto;
    padding: 16px;
}

#nav .overlay > .container .header .icon {
    right: 16px;
    top: 16px;
}

@media (min-width: 1025px) {
    #nav .overlay > .container .header {
        padding: 24px;
    }

    #nav .overlay > .container .header .icon {
        right: 24px;
        top: 24px;
    }
}

#nav .overlay > .container .body {
    height: 100%;
}

#nav .overlay > .container .body .container {
    display: table-cell;
    height: 100%;
}

#nav .overlay > .container .body .container.middle {
    vertical-align: middle;
}

#nav .overlay.inner {
    height: calc(100% - 98px);
    top: 96px;
}

#nav .overlay.inner > .container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -2px;
    width: calc(100% + 4px);
}

#nav .overlay.inner > .container > .header {
    height: 72px;
    padding-top: 0px;
}

#nav .overlay.inner > .container > .header .icon.close {
    padding: 8px 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (min-width: 1025px) {
    #nav .overlay.inner > .container > .header {
        position: relative;
        width: 100%;
    }
}

#nav .overlay.inner > .container .header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

#nav .overlay.inner > .container .body .display-1 {
    padding: 0 24px 24px;
    margin-bottom: 0px;
}

@media (min-width: 641px) and (max-width: 1024px) {
    #nav .overlay.inner {
        top: 80px;
        height: calc(100% - 80px);
    }
}

@media (max-width: 640px) {
    #nav .overlay.inner {
        top: 0;
        height: 100%;
    }

    #nav .overlay.inner > .container {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-left: 0px;
        width: 100%;
    }
}

.overlay {
    background: #FFF;
    bottom: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    visibility: hidden;
    z-index: 1005;
}

@media (max-width: 1024px) {
    .overlay {
        z-index: 1007;
    }
}

.overlay.dark {
    background: #000;
}

.overlay .header {
    padding: 24px;
}

.overlay .header::after {
    clear: both;
    content: "";
    display: table;
}

.overlay .header .close {
    box-sizing: inherit;
    /*color: transparent;*/
    display: block;
    float: right;
    height: 48px;
    opacity: 0.8;
    overflow: hidden;
    padding: 0;
    margin: -12px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    width: 48px;
}

.overlay .header .close:hover {
    opacity: 1;
}

.overlay .header .close:active {
    opacity: 0.6;
    transform: scale(0.8);
}

.overlay .body {
    clear: both;
    margin: 0 auto;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.overlay.active .body {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.frap {
    position: fixed;
    right: 16px;
    z-index: 996;
}

@media (max-width: 640px) {
    .frap {
        bottom: 71px;
    }
}

@media (min-width: 641px) {
    .frap {
        bottom: 16px;
    }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .frap {
        bottom: 86px;
    }
}

.frap .button {
    animation: pop 0.1s ease-out;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);
    font-weight: 700;
    transition-property: background, border-color, color, transform;
    clear: right;
    float: right;
    margin-top: 12px;
}

.frap .button:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    transform: translateY(2px);
}

.frap .button.primary {
    padding: 12px 24px;
}

.frap .button.secondary {
    background: #FFF;
    border-color: #FFF;
    color: inherit;
}

.actions .button {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);
    margin-bottom: 4px;
}

.button {
    background: none;
    border: 1px solid #00A862;
    border-radius: 48px;
    box-sizing: border-box;
    color: #00A862;
    display: inline-block;
    font-weight: 500;
    outline: none;
    overflow: hidden;
    padding: 6px 18px;
    position: relative;
    transition-duration: 0.1s;
    transition-property: background, border-color, color;
}

.button img {
    float: left;
    margin-top: -1px;
    margin-right: 6px;
    margin-left: -6px;
}

.button:after {
    background: rgba(0, 168, 98, 0.12);
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform-origin: 50% 50%;
    transform: scale(1, 1) translate(-50%);
    top: 50%;
    width: 6px;
}

.button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

.button:hover, .button:focus {
    border-color: #1ab172;
    color: #1ab172;
    text-decoration: none;
}

.button:active, .button.active {
    text-decoration: none;
}

.button.primary {
    background: #00A862;
    border-color: #00A862;
    color: #FFF;
}

.button.primary:hover, .button.primary:focus {
    background-color: #1ab172;
    border-color: #1ab172;
    color: #FFF;
}

.button.primary:after {
    background: rgba(255, 255, 255, 0.12);
}

.button[disabled=disabled], .button[disabled=true], .button[disabled], .button.disabled {
    background: #f7f7f7;
    border-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.38);
    cursor: not-allowed;
}

.button[disabled=disabled]:hover, .button[disabled=disabled]:focus, .button[disabled=true]:hover, .button[disabled=true]:focus, .button[disabled]:hover, .button[disabled]:focus, .button.disabled:hover, .button.disabled:focus {
    background: #f7f7f7;
    border-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.38);
}

.button.light {
    background: #FFF;
    border-color: #FFF;
    color: #00A862;
}

.button.light:hover, .button.light:focus {
    background-color: #FFF;
    border-color: #FFF;
    color: #1ab172;
}

.button.light-ghost {
    background: transparent;
    border-color: #FFF;
    color: #FFF;
}

.button.light-ghost:hover, .button.light-ghost:focus {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: white;
    color: white;
}

.button.reserve {
    background: #C48D69;
    border-color: #C48D69;
    color: #FFF;
}

.button.reserve:hover, .button.reserve:focus {
    background-color: #ca9878;
    border-color: #ca9878;
    color: #FFF;
}

.button.reserve:after {
    background: rgba(255, 255, 255, 0.12);
}

.button.link {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.button.link img {
    margin: -1px 14px 0px 1px;
}

.button.link:after {
    content: none;
}

.button.link:hover {
    color: #009758;
}

.button.link.gold:hover {
    color: #af9557;
}

.button.large {
    font-weight: 700;
    padding: 12px 24px;
}

.button.small {
    padding: 2px 12px;
}


.circle {
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}

.circle:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.grid > * {
    position: relative;
}

@media (max-width: 640px) {
    .grid {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .grid > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .grid {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 33.3333333333%;
    }

    .grid > *:nth-child(3n + 1) {
        clear: left;
    }
}

@media (min-width: 1025px) {
    .grid {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
    }

    .grid > *:nth-child(4n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .grid.columns-2 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-2::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-2 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .grid.columns-2 > *:nth-child(1n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) {
    .grid.columns-2 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-2::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-2 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .grid.columns-2 > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .grid.columns-3 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-3::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-3 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .grid.columns-3 > *:nth-child(1n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .grid.columns-3 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-3::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-3 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .grid.columns-3 > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 1025px) {
    .grid.columns-3 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-3::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-3 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 33.3333333333%;
    }

    .grid.columns-3 > *:nth-child(3n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .grid.columns-4 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-4::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-4 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .grid.columns-4 > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .grid.columns-4 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-4::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-4 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
    }

    .grid.columns-4 > *:nth-child(4n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .grid.columns-5 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-5::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-5 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 33.3333333333%;
    }

    .grid.columns-5 > *:nth-child(3n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .grid.columns-5 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-5::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-5 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
    }

    .grid.columns-5 > *:nth-child(4n + 1) {
        clear: left;
    }
}

@media (min-width: 1025px) {
    .grid.columns-5 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-5::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-5 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 20%;
    }

    .grid.columns-5 > *:nth-child(5n + 1) {
        clear: left;
    }
}

.grid.padded, .grid.padded-1 {
    margin: -6px 0;
}

.grid.padded.columns-2, .grid.padded.columns-3, .grid.padded-1.columns-2, .grid.padded-1.columns-3 {
    margin: -6px;
}

.grid.padded > *, .grid.padded-1 > * {
    padding: 6px;
}

.grid.padded.margin, .grid.padded-1.margin {
    margin-bottom: 18px;
}

.grid.padded-2 {
    margin: -12px;
}

.grid.padded-2.columns-2, .grid.padded-2.columns-3 {
    margin: -12px;
}

.grid.padded-2 > * {
    padding: 12px;
}

.grid.padded-2.margin {
    margin-bottom: 12px;
}

.grid.padded-3 {
    margin: -16px;
}

.grid.padded-3.columns-2, .grid.padded-3.columns-3 {
    margin: -16px;
}

.grid.padded-3 > * {
    padding: 16px;
}

.grid.padded-3.margin {
    margin-bottom: 8px;
}

.grid.padded-4 {
    margin: -24px;
}

.grid.padded-4.columns-2, .grid.padded-4.columns-3 {
    margin: -24px;
}

.grid.padded-4 > * {
    padding: 24px;
}

.grid.padded-4.margin {
    margin-bottom: 0px;
}

.grid .thumbnail {
    display: block;
}

@media (min-width: 1025px) {
    .grid .mixology-grid-item {
        width: 33.33%;
    }

    .grid .mixology-grid-item:nth-child(4n + 1) {
        clear: unset;
    }
}

@media (min-width: 1025px) {
    #content .overlay {
        left: 30%;
    }
}

#content .overlay .body {
    max-width: 480px;
    padding: 24px;
}

@media (max-width: 640px) {
    #content .overlay .body {
        padding-bottom: 80px;
    }
}

@media (min-width: 1025px) {
    #nav .overlay {
        width: 30%;
    }
}

@media (max-width: 640px) {
    #nav .overlay .body {
        padding-bottom: 55px;
    }
}

.field {
    display: block;
    margin-bottom: 18px;
    padding-top: 25px;
    position: relative;
}

.field.search {
    padding-top: 0px;
    position: relative;
}

.field.search input::-webkit-input-placeholder {
    font-size: 17px;
    font-size: 1.7rem;
}

.field.search input::-moz-placeholder {
    font-size: 17px;
    font-size: 1.7rem;
}

.field.search input:-ms-input-placeholder {
    font-size: 17px;
    font-size: 1.7rem;
}

.field.search input:-moz-placeholder {
    font-size: 17px;
    font-size: 1.7rem;
}

@media (max-width: 1024px) {
    .field.search {
        margin-top: 0;
    }
}

.field.search input {
    font-weight: normal;
    padding-right: 24px;
}

.field.search img {
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 0;
    top: 3px;
}
